# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\spring bootcamp\sadra\trrafic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
